
<!DOCTYPE html>
<html>
	<head>
		<title>SDG ZONE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ partial "financing-head.html" . }}
    {{ template "_internal/google_analytics.html" . }}
	</head>
  <body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- {{ partial "menu.html" . }} -->
            {{ .Content }}
        </div>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                {{ partial "financing-footer.html" . }}
            </div>
        </footer>
		<!-- Scripts -->
		{{ partial "scripts.html" . }}
  </body>
</html>