{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
