<section>
    <a href="https://sdsnyouth.org" class="footer-logo">
        <img
            src="{{ .Site.BaseURL }}/images/sdsnyouth-grey-logo.png"
            class="footer-logo"
            alt=""
        />
    </a>
    <a href="https://humanact.org/movehumanity/" class="footer-logo">
        <img
            src="{{ .Site.BaseURL }}/images/move-humanity/human-act-logo.svg"
            class="footer-logo move-humanity-logo"
            alt=""
        />
    </a>
    <a href="https://movehumanity.org/" class="footer-logo">
        <img
            src="{{ .Site.BaseURL }}/images/move-humanity/move-humanity-logo.svg"
            class="footer-logo move-humanity-logo"
            alt=""
        />
    </a>
</section>
<section>
    <ol class="fa-ul footer-icons">
        <li>
            <span class="fa-li"
                ><i class="fab fa-twitter fa-pull-right"></i
            ></span>
            <a href="https://facebook.com/sdsnyouth">Facebook</a>
            `
        </li>
        <li>
            <span class="fa-li"
                ><i class="fab fa-facebook fa-pull-right"></i
            ></span>
            <a href="https://twitter.com/SDSNYouth">Twitter</a>
        </li>
        <li>
            <span class="fa-li"
                ><i class="fab fa-github fa-pull-right"></i
            ></span>
            <a href="https://github.com/UNSDSN-Youth">GitHub</a>
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-link fa-pull-right"></i></span>
            <a href="https://sdsnyouth.org">Website</a>
        </li>
        <li>
            <span class="fa-li"
                ><i class="far fa-envelope fa-pull-right"></i
            ></span>
            <a href="mailto:youth@unsdsn.org">Email</a>
        </li>
    </ol>
</section>
<ul class="copyright">
    <li>
        &copy; UN Sustainable Development Solutions Network - Youth Initiative.
        All rights reserved
    </li>
    <li>Made with <span class="heart">❤</span> in Melbourne</li>
    <li>
        Icons made by
        <a
            href="https://www.flaticon.com/authors/popcorns-arts"
            class="footer-links"
            >Icon Pond</a
        >
        from www.flaticon.com
    </li>
    <br />
    Help us make this website better!
    <a href="https://podio.com/webforms/20832644/1433163" class="footer-links"
        >Give us feedback.</a
    >
    •
    <a href="http://unsdsn.org/about-us/privacy-policy/">Privacy Policy</a>
    <br />
    <br />
    About Human Act Human Act is a worldwide development organization that aims
    to make a difference in the life of the millions of people living in extreme
    poverty, guided by love, nonviolence, purpose, humility, courage,
    generosity, empathy, forgiveness, joy, and transparency. Move Humanity is
    Human Act’s flagship campaign and aims to mobilize an additional $91 billion
    toward the implementation of the SDGs by advocating for an increase in
    private development assistance (PDA) from the world's wealthiest
    individuals.
    <br />
    <ul>
        For more information, follow #MoveHumanity on Twitter or visit:
        <a href="https://movehumanity.org/" class="footer-links"
            >Move Humanity</a
        >
    </ul>
</ul>
