		<section>
			<img src="{{ .Site.BaseURL }}images/sdsnyouth-grey-logo.png" alt="" />
		</section>
		<section>
			<ul class="icons">
				<li><a href="twitter.com/SDSNYouth" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="facebook.com/sdsnyouth" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="github.com/sdsnyouth" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="sdsnyouth.org" class="icon style2 fa-link"><span class="label">Website</span></a></li>
				<li><a href="mailto:youth@unsdsn.org" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</section>
		<ul class="copyright">
				<li>&copy; United Nations Sustainable Development Solutions Network Youth. All rights reserved</li><li>Made with <span class="heart">❤</span> in Melbourne</a></li>
		</ul>
	
