			<header>
					<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/main.css" />

							<!-- Logo -->
								<a href="{{ .Site.BaseURL }}" class="logo">
									<span class="symbol"><img src="{{ .Site.BaseURL }}/images/sdg-wheel.png" alt="" /></span><span class="title">{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}</span>
								</a>
							<!-- Nav -->
								<nav>
									<a href="#menu" class="icon fa-bars"></a></li>
									{{ partial "menu.html" . }}
								</nav>

			</header>