<!DOCTYPE HTML>
<!--
	SDG ZONE
	tech@sdsnyouth.org 
-->
<html>
	<head>
		<title>SDG ZONE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{ partial "head.html" . }}
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
								{{ partial "header-home.html" . }}
						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<section id="banner" class="major">
								<div class="banner-inner">
									<div class="famous-quotes-slide">
										<div class="quote">
											<h1>On September 25th 2015, countries adopted a set of goals to end poverty, <br>protect the planet and ensure prosperity for <br>all as part of a new sustainable development agenda.</h1>
										</div>
										<img src="images/landing-image.png"/>
										<div class="author">
											<b>Make a difference today.</b>
											<p><br></p>
										</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"We live in a world in which many who are born poor will die poor. <br>It is up to us to be the first society to eradicate poverty and bring justice and equality to the most disenfranchised people on earth. <br>Our children have the right to equal opportunities; to thrive, to be happy, healthy, and safe."</h1>
											</div>
											<img src="images/famous-quote-images/shakira.jpg"/>
											<div class="author">
												<b>Shakira</b>
												<p>Singer, UN Goodwill Ambassador</p>
											</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"We are the first generation that can end global poverty and at the same time we are the last generation that can reverse climate change. <br>If we don’t take action now, we will leave only regret to succeeding generations."</h1>
											</div>
											<img src="images/famous-quote-images/jack-ma.jpg"/>
											<div class="author">
												<b>Jack Ma</b>
												<P>Executive Chairman Alibaba Group, Special Adviser to UN CTAD</p>
											</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"Promise that every child will have the right to safe, free and quality primary and secondary education. <br>This is the investment the world needs and what world leaders must do."</h1>
											</div>
											<img src="images/famous-quote-images/malala.jpg"/>
											<div class="author">
												<b>Malala Yousafzai</b>
												<p>Children's Activist, Women's Rights Activist, UN Messenger of Peace</p>
											</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"It’s a definition that if it’s not renewable, it’s going to run out at some point, and we will have the choice of the collapse of civilization — and <br>into the Dark Ages we go — or we find something renewable."</h1>
											</div>
											<img src="images/famous-quote-images/elon-musk.jpg"/>
											<div class="author">
												<b>Elon Musk</b>
												<p>CEO of SpaceX; CEO of Tesla, Inc. CEO of Neuralink</p>
											</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"The one thing about this wonderful planet is that we have - the home that we have - is that it can exist without us, we can't exist without it."</h1>
											</div>
											<img src="images/famous-quote-images/amina-j-mohammed.jpg"/>
											<div class="author">
												<b>Amina J. Mohammed</b>
												<p>Deputy Secretary-General of the United Nations</p>
											</div>
									</div>
									<div class="famous-quotes-slide">
											<div class="quote">
												<h1>"It’s a great opportunity for the developed world to really take stock of the differences that exist in average living conditions from what we <br>experience every day and dedicate ourselves to reducing that inequity."</h1>
											</div>
											<img src="images/famous-quote-images/bill-gates.jpg"/>
											<div class="author">
												<b>Bill Gates</b>
												<p>Co-Founder Microsoft</p>
											</div>
									</div>
									<!-- <div style="text-align:left">
											<span class="dot" onclick="currentSlide(1)"></span> 
											<span class="dot" onclick="currentSlide(2)"></span> 
											<span class="dot" onclick="currentSlide(3)"></span> 
											<span class="dot" onclick="currentSlide(4)"></span> 
											<span class="dot" onclick="currentSlide(5)"></span> 
											<span class="dot" onclick="currentSlide(6)"></span> 
											<span class="dot" onclick="currentSlide(7)"></span> 
									</div> -->
										
									<a href="#tiles" class="button">Get Started</a>
								</div>
							</section>
							<section id="tiles">
								<article>
									<span class="image">
										<img src="images/green/pic01.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}/learn/what-are-the-sdgs/">
										<h3>What are the SDGs?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/green/pic02.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/learn/why-does-the-world-need-sdgs">
										<h3>Why does the world need the SDGs?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/green/pic03.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/learn/how-sdgs-impact-my-life">
										<h3>How do the SDGs impact my life?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/green/pic04.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/learn/how-is-my-gov-committed-to-sdgs">
										<h3>Is my government committed to the SDGs?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/green/pic05.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/learn/my-country-and-sdgs">
										<h3>How is my country doing on the SDG Index?</h3>
										<div class="content">
											<p>How do countries will be measure their progress on SDGs (SDG Index, HLPF, etc). </p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="images/red/pic01.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/engage/how-can-i-learn">
										<h3>How can I learn more about the SDGs?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
										<span class="image">
												<img src="images/red/pic02.jpg" alt="" />
											</span>
										<a href="{{ .Site.BaseURL }}/engage/how-can-i-test-my-knowledge">
											<h3>How can I test my SDG knowledge?</h3>
											<div class="content">
												<p>Test and improve your SD awareness and knowledge.</p>
											</div>
										</a>
								</article>
								<article>
									<span class="image">
											<img src="images/red/pic03.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}">
										<h3>How can I find SDG jobs?</h3>
										<div class="content">
											<p>Coming soon.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/red/pic04.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}">
										<h3>How can I find SDG opportunities?</h3>
										<div class="content">
											<p>Coming soon.</p>
										</div>
									</a>
								</article>
								<article>
										<span class="image">
												<img src="images/red/pic05.jpg" alt="" />
											</span>
										<a href="{{ .Site.BaseURL }}/engage/how-find-sdg-news">
											<h3>How can I keep up with the latest news on SDGs?</h3>
											<div class="content">
												<p>How do I become an SDG expert?</p>
											</div>
										</a>
								</article>
								<article>
									<span class="image">
											<img src="images/blue/pic01.jpg" alt="" />
										</span>
									<a href="{{ .Site.BaseURL }}/action/how-to-make-a-difference">
										<h3>How can I make a difference?</h3>
										<div class="content">
											<p>How as a young person, you can make a difference - in your personal life and in your professional life. </p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/blue/pic02.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}/action/where-are-local-orgs">
										<h3>How can I find local organisations working on the SDGs?</h3>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/blue/pic03.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}/action/example-sdg-solutions">
										<h3>How can I find examples of SDG solutions?</h3>
										<div class="content">
											<p>Are there examples of SDG projects I can learn from and replicate in my community?</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/blue/pic04.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}">
										<h3>How can I get involved with SDGs on campus?</h3>
										<div class="content">
											<p>Coming soon.</p>
										</div>
									</a>
								</article>
								<article>
										<span class="image">
												<img src="images/blue/pic05.jpg" alt="" />
											</span>
										<a href="{{ .Site.BaseURL }}/action/webinars">
											<h3>Webinars</h3>
											<div class="content">
												<p>Learn how people in the spotlight engage and make an impact on the SDGs</p>
											</div>
										</a>
								</article>
								<article>
									<span class="image">
											<img src="images/yellow/pic01.jpg" alt="" />
									</span>
									<a href="https://sdgcities.guide/?gi=4ad666ca3d1" target="_blank">
										<h3>SDGs for Cities</h3>
										<div class="content">
											<p>How cities can get started with implementing the Sustainable Development Goals (SDGs) in cities and human settlements.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/yellow/pic02.jpg" alt="" />
									</span>
									<a href="https://sdgcompass.org/" target="_blank">
										<h3>SDGs for Business</h3>
										<div class="content">
											<p>How companies can align their strategies as well as measure and manage their contribution to the realization of the SDGs.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/yellow/pic03.jpg" alt="" />
									</span>
									<a href="http://www.unescap.org/resources/un-and-sdgs-handbook-youth" target="_blank">
										<h3>SDGs for Youth</h3>
										<div class="content">
											<p>UN and SDGs: A Handbook for Youth explores SDGs and the 2030 Agenda from a youth perspective.</p>
										</div>
									</a>
								</article> 
								<article>
									<span class="image">
											<img src="images/yellow/pic04.jpg" alt="" />
									</span>
									<a href="http://ap-unsdsn.org/wp-content/uploads/2017/08/University-SDG-Guide_web.pdf" target="_blank">
										<h3>SDGs for Universities</h3>
										<div class="content">
											<p>The key roles universities have in contributing to the SDGs and the benefits of becoming engaged.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
											<img src="images/yellow/pic05.jpg" alt="" />
									</span>
									<a href="http://unesdoc.unesco.org/images/0024/002474/247444e.pdf" target="_blank">
										<h3>SDGs for Schools</h3>
										<div class="content">
											<p>A guide for education professionals on the use of Education for Sustainable Development (ESD) in learning for the SDGs.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
								{{ partial "footer.html" . }}
						</div>
					</footer>
			</div>
			

		<!-- Scripts -->
		{{ partial "scripts.html" . }}


	</body>
</html>