<!DOCTYPE HTML>
<!--
	SDG ZONE
	tech@sdsnyouth.org 
-->
<html>
	<head>
		<title>SDG ZONE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{ partial "head.html" . }}
		{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
								{{ partial "header-home.html" . }}
						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<section id="banner" class="major">
								<div class="banner-inner">
									{{ range $.Site.Data.quotes.quotes }}
									<div class="famous-quotes-slide">
										<div class="quote">
											<h1>{{.quote}}</h1>
										</div>
										<img src="{{.image}}"/>
										<div class="author">
											<b>{{.name}}</b>
											<p>{{.title}}</p>
										</div>
									</div>
									{{ end }}
									<a href="#tiles" class="button">Get Started</a>
								</div>
							</section>
							<section id="tiles">
								{{ range $.Site.Data.items.items }}
								<article>
									<span class="image">
										<img src="{{.image}}" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}{{.url}}">
										<div class="tile-content">
											<div class="tile-title"><h4>{{.title}}</h4></div>
										<img src="{{.icon}}"/>
										</div>
										<div class="content">
											<p>{{.description}}</p>
										</div>
									</a>
								</article>
								{{ end }}
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
								{{ partial "footer.html" . }}
						</div>
					</footer>
			</div>
			

		<!-- Scripts -->
		{{ partial "scripts.html" . }}


	</body>
</html>