

    <!-- Intro -->
        <section class="intro">
            <header class="left-pane">
                <h1>Move Humanity</h1>
                <p>Powered by <a href="https://sdgzone.com">sdgzone.com</a> / <a href="https://sdsnyouth.org">sdsnyouth.org</a></p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Learn more</span></a></li>
                </ul>
            </header>
            <div class="content">
                    {{ range $.Site.Data.financingquotes.quotes }}
                    <div class="famous-quotes-slide">
                        <div class="quote">
                            <h3>"{{ .quote1 }}<strong>{{ .quote2 }}</strong>{{ .quote3 }}<strong>{{ .quote4 }}</strong>{{ .quote5 }}"</h3>
                        </div>
                        <img src="{{.image}}"/>
                        <div class="author">
                            <b>{{.name}}</b>
                            <p>{{.title}}</p>
                        </div>
                    </div>
                    {{ end }}
            </div>
        </section>

    <!-- Section -->
        <section id="first">
            <header class="left-pane">
                <h2>We must Move Humanity.</h2>
            </header>
            <div class="content">
                    <p>
                    Around the world today, more than <strong>1 billion people</strong> live in extreme poverty and lack access to clean water, electricity and basic health care. Around <strong>263 million children and youth</strong> are out of school. More than <strong>6 million children</strong> die each year before the age of 5. But, we can change this. 
                    </p>
                    <p>
                    In 2015, 139 countries signed up to the Sustainable Development Goals - a set of 17 objectives aimed at ending extreme poverty, promoting justice, peace and prosperity for all, and protecting the natural environment - all by the year 2030. Everybody - not just governments - is coming together to work towards these common goals. To learn more about the Sustainable Development Goals, visit SDG Zone.
                    </p>
                    <p>
                    If we achieve the SDGs, it would mean universal healthcare will be available to all, every child will have the opportunity to gain a quality education, no one will be forced to go to bed hungry, and much more. But making the SDGs a reality requires significant investment.
                    </p>
                    <p>
                    It is estimated that the world needs to spend between <strong>$5-7 trillion USD</strong> each year to meet the SDGs, with a <strong>financing gap of around $2.5 trillion USD</strong> for low-income countries. Luckily, there is enough wealth in the world to help achieve these goals and fill the financing gap. 
                    </p>
                    <p>
                    There are currently 2,208 billionaires in the world today. Their combined net worth amounts to approximately $9.1 trillion. If every billionaire pledged just 1% of their wealth, that would be enough to close about <strong>one third</strong> of the SDG financing gap in the world’s lowest income countries, and:
                    </p>

                    <ul>
                        <li>Bring 1 billion humans out of poverty</li>
                        <li>Save 6 million children from preventable diseases</li>
                        <li>Put 263 million children through school</li>
                    </ul>

                    <ul class="actions">
                        <li><a href="#" class="button large">Learn More</a></li>
                    </ul>
                    <p>
                        Australia, New Zealand & Pacific
                    </p>
                    <ul>
                        <li>Australia: 43 - 122.53B</li>
                        <li>New Zealand: 2 - 12.2B</li>
                    </ul>
                    <p>Combined wealth of $134.7B</p>
                    <span class="image main"><img src="images/pic02.jpg" alt="" /></span>

            </div>
        </section>

    <!-- Section -->
        <section>
            <header class="left-pane">
                <h2>Feugiat consequat tempus ultrices</h2>
            </header>
            <div class="content">
                <p><strong>Etiam tristique libero</strong> eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.</p>
                <ul class="feature-icons">
                    <li class="icon fa-laptop">Consequat tempus</li>
                    <li class="icon fa-bolt">Etiam adipiscing</li>
                    <li class="icon fa-signal">Libero nullam</li>
                    <li class="icon fa-gear">Blandit condimentum</li>
                    <li class="icon fa-map-marker">Lorem ipsum dolor</li>
                    <li class="icon fa-code">Nibh amet venenatis</li>
                </ul>
                <p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
            </div>
        </section>

    <!-- Section -->
        <section>
            <header class="left-pane">
                <h2>Infographics</h2>
            </header>
            <div class="content">
                <p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

                <!-- Section -->
                    <section>
                        <header class="left-pane">
                            <h3>Erat aliquam</h3>
                            <p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
                        </header>
                        <div class="content">
                            <div class="gallery">
                                <a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
                                <a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
                            </div>
                        </div>
                    </section>

                <!-- Section -->
                    <section>
                       <header class="left-pane">
                            <h3>Nisl consequat</h3>
                            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>
                        </header>
                        <div class="content">
                            <div class="gallery">
                                <a href="images/gallery/fulls/05.jpg" class="landscape"><img src="images/gallery/thumbs/05.jpg" alt="" /></a>
                            </div>
                        </div>
                    </section>

            </div>
        </section>

    <!-- Section -->
        <section>
           <header class="left-pane">
                <h2>Sign the pledge to ask the world’s richest to help end extreme poverty</h2>
            </header>
            <div class="content">
                <p>
                    Add your name to the list of people calling on the billionaires of the world to contribute to making the SDGs a reality
                </p>
                <ul class="actions">
                    <li><a href="https://www.globalcitizen.org/en/action/sign-ask-billionaires-help-end-extreme-poverty/" class="button large">Sign the pledge</a></li>
                </ul>
            </div>
        </section>
